<h2>New bookmark</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, label_method: :title, value_method: :id, include_blank: false %>
  <%= f.button :submit %>
<% end %>
